<template>
  <div>
    <el-container class="container">
      <el-header class="header" height="150px">Header</el-header>
      <el-main class="main">
        <Login></Login>
      </el-main>
      <el-footer class="footer" height="80px">Footer</el-footer>
    </el-container>
  </div>
</template>

<script>
import Login from "@/components/Login.vue";
export default {
  components: {
    Login
  },
  data() {
    return {
      something: true
    };
  }
};
</script>

<style lang="scss" scoped>
.container {
  all: unset;
}
.header {
  background-color: blue;
  position: fixed;
  top: 0px;
  width: 100%;
}
.main {
  background-color: aqua;
  position: absolute;
  width: 100%;
  top: 150px;
  height: 550px;
}
.footer {
  background-color: blue;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
</style>
