<template>
  <div class="home">
    <el-tabs v-model="activeName" @tab-click="handleClick" v-loading.fullscreen="loader">
      <el-tab-pane label="Login" name="first"></el-tab-pane>
      <el-tab-pane label="Register" name="second"></el-tab-pane>
      <el-form>
        <div style="width:350px;">
          <el-input v-model="user.username" placeholder="Enter Username"></el-input>
        </div>
        <div style="margin-top:15px;width:350px;">
          <el-input v-model="user.password" type="password" placeholder="Enter Password"></el-input>
        </div>
        <div style="margin-top:15px;">
          <el-button type="primary" native-type="submit" @click.prevent="onSubmit" round>Sign-in</el-button>
          <el-button type="primary" @click="dialogVisible = true" round>Register</el-button>
        </div>
      </el-form>
      <el-dialog :visible.sync="dialogVisible" title="Register"></el-dialog>
    </el-tabs>
  </div>
</template>

<script>
export default {
  name: "home",
  data() {
    return {
      user: {
        username: "",
        password: ""
      },
      loader: false,
      dialogVisible: false,
      activeName: "first"
    };
  },
  methods: {
    onSubmit() {
      this.loader = true;
      this.a.post("/login", this.user).then(res => {
        console.log(res);
      });
    },
    handleClick(tab, event) {
      console.log(tab, event);
    }
  }
};
</script>

<style lang="scss" scoped>
.home {
  position: relative;
  width: 30%;
  left: 500px;
  top: 100px;
}
</style>
